<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
			<ion-title>{{'assign_thumb_impression' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="container">
		<h2>{{'enter_your_thumb_impression' | translate}}<br>{{'3_times_to_assign' | translate}}</h2>
		<div class="fingerprint">
			<img src="assets/imgs/ic_thumb.png" style="filter: grayscale(100%);">
		</div>
	</div>
</ion-content>

<ion-footer class="ion-no-border">
	<h2>
		{{'tips' | translate}}:
		<br>{{'try_to_tab' | translate}}
		<br>{{'add_oftenly' | translate}}
		<br>{{'you_canchange' | translate}}
	</h2>
</ion-footer>
