<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'loan_statement' | translate}}</ion-title>
	</ion-toolbar>
	<div class="banner">
		<ion-card>
			<ion-row>
				<ion-col size="7">
					<h3>Home Loan</h3>
					<h2>1124 2541 2574</h2>
				</ion-col>
				<ion-col size="5">
					<h4>{{'view_statement' | translate}}</h4>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="7">
					<h3>{{'due_amount' | translate}}</h3>
					<h2>$ 200000<sub>.00</sub></h2>
				</ion-col>
				<ion-col size="5">
					<h3>{{'emi' | translate}}</h3>
					<h2>$ 1000<sub>.00</sub></h2>
				</ion-col>
			</ion-row>
		</ion-card>
	</div>
</ion-header>

<ion-content>
	<ion-list lines="none">
		<h2>{{'recent_transactios' | translate}}</h2>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>


		<h2>{{'yesterday_transactios' | translate}}</h2>


		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>

	</ion-list>
</ion-content>