<ion-header>
	<ion-toolbar>
		<ion-title>{{'done' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="bg_color" fullscreen>
	<ion-list lines="none">
		<div class="list_header ion-text-center">
			<ion-icon class="zmdi zmdi-check-all"></ion-icon>
			<h1>Depositado con éxito!!</h1>
		</div>
		<ion-item class="panding">
			<div class="item_inner">
				<ion-row>
					<ion-col size="8">
						<h4>{{'deposite_to' | translate}}</h4>
						<h3>{{cheque.banco}}</h3>
					</ion-col>
					<ion-col size="4">
						<h4>{{'amount' | translate}}</h4>
						<h3>${{cheque.valor}}</h3>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col size="8">
						<h4>Fecha</h4>
						<h3>{{cheque.fecha}}</h3>
					</ion-col>
					<ion-col size="4">
						<h4>Hora</h4>
						<h3>{{cheque.hora}}</h3>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col size="8">
						<h4>Cuenta cheque</h4>
						<h3>{{cheque.cuenta}}</h3>
					</ion-col>
					<ion-col size="4">
						<h4>Cheque #</h4>
						<h3>{{cheque.numero}}</h3>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col size="8">
						<h4>Cuenta acreditar</h4>
						<h3>{{cheque.cuentaAcreditar}}</h3>
					</ion-col>
					<ion-col size="4">
						<h4>Comisión</h4>
						<h3>${{cheque.comision}}</h3>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
	</ion-list>
</ion-content>


<ion-footer class="ion-no-border">
	<ion-row>
		<ion-col size="6">
			<ion-button size="large" shape="block" class="btn send_more" (click)="other()">{{'send_more' | translate}}</ion-button>
		</ion-col>

		<ion-col size="6">
			<ion-button size="large" shape="block" class="btn" (click)="tabs()">{{'back_to_home' | translate}}</ion-button>
		</ion-col>
	</ion-row>
</ion-footer>
