<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>Travel Loan</ion-title>
	</ion-toolbar>
	<ion-list lines="none">
		<ion-item>
			<div class="item_inner d-flex">
				<div class="img_box center_img" slot="start">
					<img src="assets/imgs/img_travel.png" class="crop_img">
				</div>
				<div class="text-box">
					<h3>Travel for</h3>
					<h2>discover yourself !</h2>
					<h4 class="d-flex"><span>{{'apply_now' | translate}}</span> {{'instant_loan_at' | translate}}<br>Just 8.90% interest</h4>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-header>

<ion-content class="bg_color" fullscreen>
	<div class="about">
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
		</p>
		<p>
			It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
		</p>
	</div>
	<div class="form">
		<ion-list lines="none">
			<h2 class="d-flex">{{'phone_number' | translate}}</h2>
			<ion-item lines="none">
				<ion-input type="number" placeholder="{{'enter_your_phone_number' | translate}}"></ion-input>
			</ion-item>
			<h2 class="d-flex">{{'your_message' | translate}}</h2>
			<ion-item lines="none">
				<ion-input type="text" placeholder="{{'enter_your_message' | translate}}"></ion-input>
			</ion-item>
		</ion-list>
	</div>
</ion-content>

 
<ion-footer class="ion-no-border">
	<ion-button size="large" shape="block" class="btn">{{'i_am_interested' | translate}}</ion-button>
</ion-footer>