<ion-tabs>

	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="home">
			<div class="icon_box">
				<img src="assets/imgs/ic_banking.png" class="before">
				<img src="assets/imgs/ic_banking_act.png" class="after">
			</div>
			<ion-label>Home</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="transactions">
			<div class="icon_box">
				<img src="assets/imgs/ic_transaction.png" class="before">
				<img src="assets/imgs/ic_transaction_act.png" class="after">
			</div>
			<ion-label>Operaciones</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="account">
			<div class="icon_box">
				<img src="assets/imgs/ic_accounts.png" class="before">
				<img src="assets/imgs/ic_accounts_act.png" class="after">
			</div>
			<ion-label>Mi perfil</ion-label>
		</ion-tab-button>
	</ion-tab-bar>

</ion-tabs>
