ion-header ion-toolbar ion-title {
	padding: 0 15px !important;
	position: absolute !important;
	top: -3px;
	left: 0;
	width: 100%;
	text-align: center;
}

.container {
	width: calc(100% - 43px);
	margin: 0 auto;
	padding-top: 22px;

	p {
		margin: 0;
		font-size: .95rem;
		margin-bottom: 20px; 
	}

	h2 {
		margin: 0;
		font-size: 1.1rem;
		font-weight: 500;
		margin-bottom: 20px;

	}
}