<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="banner">
        <h2 class="ion-text-center"><img src="assets/imgs/logo.png" style="max-width: 79%;" alt=""></h2>
    </div>
    <div class="form">
        <h2 class="ion-text-center">Ingrese su contraseña</h2>
        <ion-list lines="none">
            <ion-item lines="none">
                <ion-input type="password" placeholder="Contraseña"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-input type="password" placeholder="Confirmar Contraseña"></ion-input>
            </ion-item>
        </ion-list>
        <ion-button size="large" shape="block" class="btn" (click)="tabs()">Darse de alta</ion-button>
    </div>
    <!--	<div class="thumb_impression ion-text-center">-->
    <!--		<h2>{{'verification_text' | translate}}<br>{{'verification_text_2' | translate}}</h2>-->
    <!--	</div>-->
</ion-content>
