<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="banner">
        <h2 class="ion-text-center"><img src="assets/imgs/logo.png" style="max-width: 79%;" alt=""></h2>
    </div>
    <div class="form">
        <h2 class="ion-text-center">A continuación cree su contraseña de Acceso</h2>
        <ion-list lines="none">
            <h2 class="d-flex">Contraseña</h2>
            <ion-item lines="none">
                <ion-input type="password" placeholder="Contraseña"></ion-input>
            </ion-item>
            <h2 class="d-flex">Confirmar Contraseña</h2>
            <ion-item lines="none">
                <ion-input type="password" placeholder="Confirmar Contraseña"></ion-input>
            </ion-item>
        </ion-list>
        <div style="margin-bottom: 35px; display: flex;">
            <ion-checkbox slot="start" [(ngModel)]="terminosAceptados" style="margin-right: 10px;"></ion-checkbox>
            <ion-label style="font-size: 0.85rem !important;">
                He leído y acepto los
                <span (click)="showTerminosCondiciones()" style="color: blue;">Terminos y Condiciones.</span>
            </ion-label>
        </div>
        <ion-button size="large" shape="block" class="btn" (click)="login()">Darse de alta</ion-button>
    </div>
    <!--	<div class="thumb_impression ion-text-center">-->
    <!--		<h2>{{'verification_text' | translate}}<br>{{'verification_text_2' | translate}}</h2>-->
    <!--	</div>-->
</ion-content>
