<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
			<ion-title>{{'nearby_bank_atm' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="map">
		<img src="assets/imgs/map.png">
	</div>
	<div class="near_me atm ion-text-center"  style="right: 10%; top: 11%">
		<ion-icon class="zmdi zmdi-card"></ion-icon>
	</div>
	<div class="near_me atm ion-text-center"  style="right: 40%; top: 41%">
		<ion-icon class="zmdi zmdi-card"></ion-icon>
	</div>
	<div class="near_me atm ion-text-center"  style="left: 10%; top: 60%">
		<ion-icon class="zmdi zmdi-card"></ion-icon>
	</div>
	<div class="near_me bank ion-text-center"  style="left: 30%; top: 30%">
		<ion-icon class="zmdi zmdi-balance"></ion-icon>
	</div>
	<div class="near_me bank ion-text-center"  style="left: 40%; top:80%">
		<ion-icon class="zmdi zmdi-balance"></ion-icon>
	</div>
	<div class="my_location" style="top: 62%; right: 38%;">
		<ion-icon class="zmdi zmdi-circle"></ion-icon>
	</div>
</ion-content>