<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>Mi perfil</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div class="profile_img_box">
		<div class="profile_img center_img">
			<img src="assets/imgs/profile.png" class="crop_img">
		</div>
		<ion-icon class="zmdi zmdi-camera"></ion-icon>
	</div>
	<div class="form">
		<ion-list lines="none">
			<ion-item lines="none">
				<ion-label position="floating">Nombre y apellidos</ion-label>
				<ion-input type="text" value="Lionel Andrés Messi"></ion-input>
			</ion-item>
			<ion-item lines="none">
				<ion-label position="floating">{{'email_address' | translate}}</ion-label>
				<ion-input type="text" value="samsmith@mail.com"></ion-input>
			</ion-item>
			<ion-item lines="none">
				<ion-label position="floating">Número de teléfono</ion-label>
				<ion-input type="text" value="0998856446"></ion-input>
			</ion-item>
			<ion-item lines="none">
				<ion-label position="floating">Nueva contraseña</ion-label>
				<ion-input type="password"></ion-input>
			</ion-item>
			<ion-item lines="none">
				<ion-label position="floating">Confirmar nueva contraseña</ion-label>
				<ion-input type="password"></ion-input>
			</ion-item>
			<!--
		<ion-item>
			<ion-label fixed>{{'date_of_birth' | translate}}</ion-label>
			<ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="event.month"></ion-datetime>
			<ion-icon class="zmdi zmdi-calendar-alt" item-end text-end></ion-icon>
		</ion-item>
-->
		</ion-list>
	</div>
</ion-content>

<ion-footer class="ion-no-border" style="padding: 10px;">
	<ion-button size="large" shape="block" class="btn" (click)="tabs()">Actualizar perfil</ion-button>
</ion-footer>
