<ion-header>
	<ion-toolbar>
		<ion-title>
			<span class="d-flex" (click)="sign_up()">
				<span class="end"> {{'new_user' | translate}}</span>
			</span>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="banner">
		<h2 class="ion-text-center"><img src="assets/imgs/logo.png" style="max-width: 79%;" alt=""></h2>
	</div>

	<div class="form">
		<h2 class="ion-text-center">{{'or_sign_in_with_customer_id' | translate}}</h2>
		<ion-list lines="none">
			<h2 class="d-flex">{{'email_customer_id' | translate}}</h2>
			<ion-item lines="none">
				<ion-input type="number" placeholder="{{'email_customer_id' | translate}}"></ion-input>
			</ion-item>
			<h2 class="d-flex">{{'enter_mpin' | translate}}</h2>
			<ion-item lines="none">
				<ion-input type="password" placeholder="{{'enter_mpin' | translate}}"></ion-input>
			</ion-item>
		</ion-list>
		<ion-button size="large" shape="block" class="btn" (click)="verification()">{{'sign_in' | translate}}</ion-button>
	</div>

	<div class="thumb_impression ion-text-center">
		<h2>{{'or_scan_you_thump_to_continue' | translate}}</h2>
		<div class="fingerprint">
			<img src="assets/imgs/ic_thumb.png" alt="">
		</div>
	</div>
</ion-content>
