<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'fund_transfer' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-item (click)="fund_transfer()">
			<div class="icon_box" slot="start">
				<img src="assets/imgs/ic_transfer.png">
			</div>
			<div class="text_box">
				<h2>{{'fund_transfer' | translate}}</h2>
				<h3>{{'to_other_bank' | translate}}</h3>
			</div>
		</ion-item>
		<ion-item (click)="imps()">
			<div class="icon_box" slot="start">
				<img src="assets/imgs/ic_transfer.png">
			</div>
			<div class="text_box">
				<h2>{{'imps' | translate}}</h2>
				<h3>{{'within_bank' | translate}}</h3>
			</div>
		</ion-item>
		<ion-item (click)="fund_transfer()">
			<div class="icon_box" slot="start">
				<img src="assets/imgs/ic_transfer.png">
			</div>
			<div class="text_box">
				<h2>{{'neft' | translate}}</h2>
				<h3>{{'within_bank' | translate}}</h3>
			</div>
		</ion-item>
		<ion-item (click)="fund_transfer()">
			<div class="icon_box" slot="start">
				<img src="assets/imgs/ic_transfer.png">
			</div>
			<div class="text_box">
				<h2>{{'pay' | translate}}</h2>
				<h3>{{'scan_to_pay' | translate}}</h3>
			</div>
		</ion-item>	
		
		<ion-item (click)="fund_transfer()">
			<div class="icon_box" slot="start">
				<img src="assets/imgs/ic_transfer.png">
			</div>
			<div class="text_box">
				<h2>{{'rigs' | translate}}</h2>
				<h3>{{'easiest_mode_of_transfer_money' | translate}}</h3>
			</div>
		</ion-item>
		 
	</ion-list>
</ion-content>