<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-icon class="icon-information" slot="end" name="exit-outline" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>¿Como depositar un cheque?</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg_color" fullscreen>
  <ion-card>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
  </ion-card>
  <ion-card>
      <img src="https://picsum.photos/seed/picsum/200/200" class="crop_img">
  </ion-card>
  <ion-card>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
  </ion-card>
  <ion-card>
      <img src="https://picsum.photos/seed/picsum/200/200" class="crop_img">
  </ion-card>
</ion-content>


