<ion-header>
	<ion-toolbar>
		<ion-title><span>{{'app_title' | translate}} {{'app_title_2' | translate}}</span></ion-title>
	</ion-toolbar>
	<div class="banner">
		<div class="scroll_container">
			<div class="item_scroll">
				<div>
				<ion-avatar class="center_avatar">
					<img src="assets/imgs/profile.png">
				</ion-avatar>
				</div>
				<h3>Nombre de usuario</h3>
				<h2>{{nombre}}</h2>
				<h3>Email</h3>
				<h2>{{email}}</h2>
				<h3>Celular</h3>
				<h2>{{celular}}</h2>
			</div>
<!--			<div class="item_scroll" (click)="statement()">-->
<!--				<h3>Credit Account</h3>-->
<!--				<h2>0014 1241 5574</h2>-->
<!--				<h4>{{'check_blance' | translate}}</h4>-->
<!--				<h5>{{'statement' | translate}}</h5>-->
<!--			</div>-->
<!--			<div class="item_scroll" (click)="statement()">-->
<!--				<h3>Saving Account</h3>-->
<!--				<h2>0014 1241 5574</h2>-->
<!--				<h4>{{'check_blance' | translate}}</h4>-->
<!--				<h5>{{'statement' | translate}}</h5>-->
<!--			</div>-->
<!--			<div class="item_scroll" (click)="statement()">-->
<!--				<h3>Credit Account</h3>-->
<!--				<h2>0014 1241 5574</h2>-->
<!--				<h4>{{'check_blance' | translate}}</h4>-->
<!--				<h5>{{'statement' | translate}}</h5>-->
<!--			</div>-->
<!--			<div class="item_scroll" (click)="statement()">-->
<!--				<h3>Saving Account</h3>-->
<!--				<h2>0014 1241 5574</h2>-->
<!--				<h4>{{'check_blance' | translate}}</h4>-->
<!--				<h5>{{'statement' | translate}}</h5>-->
<!--			</div>-->
<!--			<div class="item_scroll" (click)="statement()">-->
<!--				<h3>Credit Account</h3>-->
<!--				<h2>0014 1241 5574</h2>-->
<!--				<h4>{{'check_blance' | translate}}</h4>-->
<!--				<h5>{{'statement' | translate}}</h5>-->
<!--			</div>-->
<!--			<div class="item_scroll" (click)="statement()">-->
<!--				<h3>Saving Account</h3>-->
<!--				<h2>0014 1241 5574</h2>-->
<!--				<h4>{{'check_blance' | translate}}</h4>-->
<!--				<h5>{{'statement' | translate}}</h5>-->
<!--			</div>-->
<!--			<div class="item_scroll" (click)="statement()">-->
<!--				<h3>Credit Account</h3>-->
<!--				<h2>0014 1241 5574</h2>-->
<!--				<h4>{{'check_blance' | translate}}</h4>-->
<!--				<h5>{{'statement' | translate}}</h5>-->
<!--			</div>-->
		</div>
	</div>
</ion-header>
<ion-content>
	<div class="home_menu">
		<ion-row>
			<ion-col size="4" (click)="upload_deposite()">
				<div class="menu_item ion-text-center">
					<div class="icon_box">
						<img src="assets/imgs/ic_deposite.png">
					</div>
					<p>{{'deposite' | translate}}</p>
				</div>
			</ion-col>
			<ion-col size="4" (click)="statement()">
				<div class="menu_item ion-text-center">
					<div class="icon_box">
						<img src="assets/imgs/ic_statement.png">
					</div>
					<p>{{'check_account' | translate}}</p>
				</div>
			</ion-col>
			<ion-col size="4" (click)="fund_transfer_options()">
				<div class="menu_item ion-text-center">
					<div class="icon_box">
						<img src="assets/imgs/ic_transaction_act.png">
					</div>
					<p>{{'e_check' | translate}}</p>
				</div>
			</ion-col>

<!--			<ion-col size="4" (click)="loan()">-->
<!--				<div class="menu_item ion-text-center">-->
<!--					<div class="icon_box">-->
<!--						<img src="assets/imgs/ic_loan.png">-->
<!--					</div>-->
<!--					<p>{{'loans' | translate}}</p>-->
<!--				</div>-->
<!--			</ion-col>-->
<!--			<ion-col size="4" (click)="list_of_deposites()">-->
<!--				<div class="menu_item ion-text-center">-->
<!--					<div class="icon_box">-->
<!--						<img src="assets/imgs/ic_deposite.png">-->
<!--					</div>-->
<!--					<p>{{'deposite' | translate}}</p>-->
<!--				</div>-->
<!--			</ion-col>-->
<!--			<ion-col size="4" (click)="loan()">-->
<!--				<div class="menu_item ion-text-center">-->
<!--					<div class="icon_box">-->
<!--						<img src="assets/imgs/ic_loan.png">-->
<!--					</div>-->
<!--					<p>{{'loans' | translate}}</p>-->
<!--				</div>-->
<!--			</ion-col>-->
<!--			<ion-col size="4" (click)="account()">-->
<!--				<div class="menu_item ion-text-center">-->
<!--					<div class="icon_box">-->
<!--						<img src="assets/imgs/ic_account.png">-->
<!--					</div>-->
<!--					<p>{{'account' | translate}}</p>-->
<!--				</div>-->
<!--			</ion-col>-->
<!--			<ion-col size="4" (click)="fund_transfer_options()">-->
<!--				<div class="menu_item ion-text-center">-->
<!--					<div class="icon_box">-->
<!--						<img src="assets/imgs/ic_fund_transfer.png">-->
<!--					</div>-->
<!--					<p>{{'fund_transfer' | translate}}</p>-->
<!--				</div>-->
<!--			</ion-col>-->
<!--			<ion-col size="4">-->
<!--				<div class="menu_item ion-text-center">-->
<!--					<div class="icon_box">-->
<!--						<img src="assets/imgs/ic_more.png">-->
<!--					</div>-->
<!--					<p>{{'more' | translate}}</p>-->
<!--				</div>-->
<!--			</ion-col>-->
		</ion-row>
	</div>
	<ion-list lines="none">
<!--		<ion-item (click)="loan_info()">-->
		<ion-item >
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img src="assets/imgs/img_travel.png" class="crop_img">
				</div>
				<div class="text-box">
<!--					<h3>BPO RDC</h3>-->
					<p style="color: white; font-size: 0.8rem;">Ahora en la palma de tu mano con total seguridad puedes realizar Depósitos de Cheques.</p>
<!--					<h4 class="d-flex"><span>{{'apply_now' | translate}}</span> {{'instant_loan_at' | translate}}<br>Just 8.90% interest</h4>-->
<!--					<h4 class="d-flex"><span>{{'apply_now' | translate}}</span> {{'instant_loan_at' | translate}}<br>Just 8.90% interest</h4>-->
				</div>
			</div>
		</ion-item>

<!--		<ion-item (click)="loan_info()">-->
<!--			<div class="item_inner d-flex">-->
<!--				<div class="img_box center_img">-->
<!--					<img src="assets/imgs/img_study.png" class="crop_img">-->
<!--				</div>-->
<!--				<div class="text-box">-->
<!--					<h3>Get a Lowest interest rate</h3>-->
<!--					<h2>Education Loan</h2>-->
<!--					<h4 class="d-flex"><span>{{'apply_now' | translate}}</span> {{'instant_loan_at' | translate}}<br>Just 8.90% interest</h4>-->
<!--				</div>-->
<!--			</div>-->
<!--		</ion-item>-->
	</ion-list>
</ion-content>
