ion-header {
	ion-toolbar ion-title {
		padding: 0 15px !important;
		text-align: center;
	}

	.banner {
		position: relative;
		width: 100%;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 77px;
			background: var(--primary);
		}

		.scroll_container {
			white-space: nowrap;
			//height: 162px;
			height: 300px;
			overflow: hidden;
			overflow-x: scroll;

			.item_scroll {
				display: inline-block;
				background: url('../../assets/imgs/item_bg.png');
				background-size: cover;
				background-repeat: no-repeat;
				color: var(--white);
				border-radius: 10px;
				margin: 0 4px;
				padding: 18px;
				padding-bottom: 15px;
				//width: 252px;
				width: 95%;
				position: relative;
				overflow: hidden;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: #000;
					opacity: .4;

				}

				&:first-child {
					margin-left: 10px;
				}

				&:last-child {
					margin-right: 10px;
				}

				h3 {
					font-size: .75rem;
					font-weight: 500;
					margin: 0;
					margin-bottom: 7px;
					color: #8c8c8c;
					position: relative;
					z-index: 99;
				}

				h2 {
					margin: 0;
					font-size: 1.3rem;
					font-weight: 500;
					margin-bottom: 10px;
					letter-spacing: .5px;
					position: relative;
					z-index: 99;
				}

				h4 {
					background: var(--primary);
					text-align: center;
					margin: 0;
					width: fit-content;
					width: fit-content;
					font-size: .8rem;
					font-weight: 400;
					border-radius: 6px;
					height: 36px;
					line-height: 35px;
					letter-spacing: 0.5px;
					padding: 0 13px;
					position: relative;
					z-index: 99;
					margin-bottom: 20px;
					min-width: 125px;
				}

				h5 {
					font-size: .8rem;
					font-weight: 700;
					margin: 0;
					color: var(--primary);
					position: relative;
					z-index: 99;

				}

			}
		}
	}
}

.home_menu {
	padding: 13px 0 20px 0;

	ion-row {
		ion-col {
			position: relative;

			.menu_item {
				position: relative;
				display: block;
				overflow: hidden;
				padding: 13px 0 13px 0;

				.icon_box {
					display: block;
					width: 43px;
					margin: 0 auto;
					margin-bottom: 7px;
				}


				p {
					margin: 0;
					font-weight: 700;
					font-size: .8rem;
					letter-spacing: 0;
				}

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					width: 50px;
					height: 1px;
					margin: auto;
					background: #e3e3e3;
				}
			}

			&:nth-child(7),
			&:nth-child(8),
			&:nth-child(9) {
				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					width: 55px;
					height: 1px;
					margin: auto;
					background: #d6d6d6;
				}
			}

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(7),
			&:nth-child(8) {
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					top: 0;
					margin: auto 0;
					right: 0;
					width: 1px;
					height: 55px;
					background: #e3e3e3;
				}
			}

		}
	}
}

ion-list {
	margin: 0;
	background: none;
	padding: 0;

	ion-item {
		padding: 0;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		margin-bottom: 8px;
		--background: var(--transparent);
		background: url('../../assets/imgs/banner_bg.png');
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		--padding-start: 0;
		box-shadow: none !important;
		--min-height: unset;

		.img_box {
			width: 123px;
			min-width: 123px;
			height: 113px;
			margin: 0;
		}

		.item_inner {
			padding: 0;
			position: relative;
			z-index: 99;

			.text-box {
				width: 100%;
				padding: 0 16px
			}

			h2 {
				margin: 0;
				width: 100%;
				color: var(--white);
				font-size: 1.25rem;
				margin-bottom: 12px;
				font-weight: 400;
			}

			h3 {
				color: var(--white);
				font-size: .8rem;
				letter-spacing: 0.5px;
				margin: 0;
				font-weight: 400;

			}

			h4 {
				color: var(--white);
				font-size: 0.6rem;
				font-weight: 400;
				letter-spacing: 0.2px;
				margin: 0 -10px;

				span {
					background: var(--secondary);
					font-size: .7rem;
					font-weight: 500;
					border-radius: 3px;
					height: 25px;
					line-height: 25px;
					padding: 0 8px;
					margin: 0 10px;
					min-width: 70px;
				}
			}
		}
	}
}

.center_avatar{
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
}
