<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'account' | translate}}</ion-title>
	</ion-toolbar>
	<div class="banner d-flex" (click)="profile()">
		<div class="img_box center_img">
			<img src="assets/imgs/profile.png" class="crop_img">
		</div>
		<div class="text">
			<h2>Lionel Andrés Messi</h2>
			<h3>Editar perfil</h3>
		</div>
	</div>
</ion-header>


<ion-content>
	<ion-list lines="none">
		<ion-item (click)="thumb_impression()">
			<div class="item_inner">
				<h2>Cambiar tu Huella o Face ID</h2>
				<p>Cambiar datos de inicio de sesión con tu huella o Face ID</p>
			</div>
		</ion-item>
<!--		<ion-item (click)="nearby_bank()">-->
<!--			<div class="item_inner">-->
<!--				<h2>{{'nearby_bank_atm' | translate}}</h2>-->
<!--				<p>{{'found_nearest' | translate}}</p>-->
<!--			</div>-->
<!--		</ion-item>-->

<!--		<ion-item (click)="change_language()">-->
<!--			<div class="item_inner">-->
<!--				<h2>{{'change_language' | translate}}</h2>-->
<!--				<p>{{'select_language' | translate}}</p>-->
<!--			</div>-->
<!--		</ion-item>-->

<!--		<ion-item (click)="terms_conditions()">-->
<!--			<div class="item_inner">-->
<!--				<h2>{{'terms_conditions' | translate}}</h2>-->
<!--				<p>{{'bank_app_conditions' | translate}}</p>-->
<!--			</div>-->
<!--		</ion-item>-->
<!--		<ion-item (click)="faqs()">-->
<!--			<div class="item_inner">-->
<!--				<h2>{{'faqs' | translate}}</h2>-->
<!--				<p>{{'faqs_text' | translate}}</p>-->
<!--			</div>-->
<!--		</ion-item>-->
<!--		<ion-item (click)="support()">-->
<!--			<div class="item_inner">-->
<!--				<h2>{{'24_support' | translate}}</h2>-->
<!--				<p>{{'24_support_text' | translate}}</p>-->
<!--			</div>-->
<!--		</ion-item>-->
		<ion-item (click)="sing_in()">
			<div class="item_inner">
				<h2>{{'logout' | translate}}</h2>
				<p>{{'logout_from_app' | translate}}</p>
			</div>
		</ion-item>
	</ion-list>

<!--	<div *ngIf="config.showBuyPromt" (click)="buyAppAction()" class="buy_this_app">-->
<!--		<h2>-->
<!--			<ion-icon class="zmdi zmdi-shopping-cart"></ion-icon>-->
<!--			{{"buy_this_app" | translate}}-->
<!--		</h2>-->
<!--	</div>-->
</ion-content>
